@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#caixadNumeros{
    display: flex;
    height: 400px;
    width: 200px;
    align-items: center;
    overflow-y: hidden;
    margin: auto
}

#numeros{
    display: flex;
    position: relative;
    flex-direction: column;
    top: 0px;
    height: 2000px;
    width: 150px;
    justify-content: space-around;
    margin: auto;
    transition: top 500ms linear;
}

#numeros > div{
    font-size: 200px;
    text-align: center;
    margin: auto
}

#comandante{
    width: 300px;
    height: 80px;
    line-height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#comandante > div{
    width: 60px;
    height: 60px;
    text-align: center;
    cursor: pointer;
    transition: box-shadow 100ms ease-in-out;
    border: 1px double black;
    border-radius: 50%;
}

#comandante > div:active{
    box-shadow: inset 0px 0px 5px 5px  rgba(0, 0, 0, 0.5)
}

