@charset "UTF-8";

:root{
    --height-header: 4rem;
    --height-footer: 3rem;
    --height-main: calc(100vh - var(--height-header) - var(--height-footer));

    --n_col: 20%;
    --n_row: 25%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: grid;
    min-height: var(--height-header);
    width: 100%;
    place-items: center;
}

main{
    display: flex;
    min-height: var(--height-main);
    width: 100%;
    align-items: center;
    place-content: center;
    flex-direction: column;
}

main > #img_div{
    display: flex;
    width: calc(18vmin * 5);
    height: calc(11vmin * 5);
    align-items: center;
    justify-content: center;
    outline: 1px solid black;
}

#wrapper{
    outline: 1px solid black;
    position: relative;
    max-width: calc(18vmin * 5);
    max-height: calc(11vmin * 5);
    min-width: 0;
    min-height: 0;
    object-fit: contain;
}

img{
    max-width: calc(18vmin * 5);
    max-height: calc(11vmin * 5);
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#wrapper::after{
    content: "";
    position: absolute;
    inset: 0;
    z-index: 2;
    background-image: repeating-linear-gradient(90deg, black 0% calc(0% + 1px), transparent calc(0% + 1px) calc(var(--n_col) - 1px), black calc(var(--n_col) - 1px) var(--n_col)), repeating-linear-gradient(180deg, black 0% calc(0% + 1px), transparent calc(0% + 1px) calc(var(--n_row) - 1px), black calc(var(--n_row) - 1px) var(--n_row));

}

footer{
    display: grid;
    height: var(--height-footer);
    width: 100%;
    place-items: center;
}

@media print {
    header{
        display: none
    }

    form{
        display: none
    }
    
    main{
        display: flex;
        min-height: 100%;
        width: 100%;
        align-items: center;
        place-content: center;
        flex-direction: column;
    }
    
    main > #img_div{
        display: flex;
        width: calc(18vmin * 5);
        height: calc(11vmin * 5);
        align-items: center;
        justify-content: center;
        outline: 1px solid black;
    }
    
    img{
        max-width: calc(18vmin * 5);
        max-height: calc(11vmin * 5);
        height: 100%;
        width: 100%;
        object-fit: contain;
    
    }
    
    #wrapper{
        outline: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        max-width: calc(18vmin * 5);
        max-height: calc(11vmin * 5);
        height: calc(11vmin * 5);
        width: auto;
        min-width: 0;
        min-height: 0;
        object-fit: contain;
    }
    
    #wrapper::after{
        content: "";
        position: absolute;
        inset: 0;
        z-index: 2;
        background-image: repeating-linear-gradient(90deg, black 0% calc(0% + 1px), transparent calc(0% + 1px) calc(var(--n_col) - 1px), black calc(var(--n_col) - 1px) var(--n_col)), repeating-linear-gradient(180deg, black 0% calc(0% + 1px), transparent calc(0% + 1px) calc(var(--n_row) - 1px), black calc(var(--n_row) - 1px) var(--n_row));
    }
    
    footer{
        display: none
    }
}
