@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --height_header: 4rem;
    --height_main: calc(100vh - var(--height_footer) - var(--height_header) );
    --height_footer: 3rem;
    --broad-width: 100%
}

body{
    background-image: url(imgs/textura4.jpg);
    background-size: 100px;
    background-position: center center
}

header{
    display: grid;
    min-height: var(--height_header);
    width: var(--broad-width);
    place-items: center;
    text-wrap: balance;

    background-color: rgb(100, 61, 31);
    border-bottom: 2px dashed black;
    box-shadow: 0px 0px 5px black

}

p, h1{
    text-align: center;
    font-variant: small-caps
}

main{
    display: grid;
    height: var(--height_main);
    width: var(--broad-width);
    place-items: center;
}

main section{
    display: flex;
    max-width: 20rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:  1rem;
    background-color: rgba(245, 222, 179, 0.829);
    border-radius: 5px;
    border: 2px dashed black;
    box-shadow: 0px 0px 5px black
}

main section #formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#formulario div:nth-child(1){
    text-align: center;
}

#sexo{
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
}

#sexo > *{
    margin: .5rem
}

#sexo > div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



#btn{
    background-color: rgb(206, 174, 116);
    border: 1px solid rgb(66, 49, 18);
    padding: 5px;
    font-variant: small-caps;
    font-weight: bold;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.267);
    margin: 1rem;
}

footer{
    display: grid;
    min-height: var(--height_footer);
    width: var(--broad-width);
    place-items: center;
    color: rgb(113 65 29);

    border-top: 2px dashed black;
    box-shadow: inset 0px 1rem 1rem rgba(0, 0, 0, 0.641)
}