@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

h1,
p {
	text-align: center;
	margin: 20px
}

main {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.card {
	margin: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;

	outline: solid 1px black;

	min-width: 20rem;
	max-width: 25vw
}

.card:hover {
	box-shadow: 0 0 10px -1px gray;
}

.card:active {
	transition: all 0s linear;
	box-shadow: none;
}

.image {
	outline: solid 1px black;
	/* min-height: 10rem; */
	width: 100%;
	height: 100%;
	overflow: hidden;
}

img {
	aspect-ratio: auto;
	min-width: 0;
	object-fit: cover;
	/* it looks ugly with this, but you can see all the image. */
	/* object-fit: contain; */
	height: 100%;
	width: 100%;
}

footer {
	font-family: monospace;
	font-size: 1rem;
	margin-top: 1rem;
	display: grid;
	place-items: center;
}

footer .hide {
	background-image: linear-gradient(90deg, black 0% 50%, white 50% 100%);
	background-size: 200%;
	background-position: right;
	background-clip: text;
	color: rgba(0, 0, 0, 0.0);
	font-size: 1rem;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	letter-spacing: .08rem;
	padding: 1px 0px;
	position: relative;
}

.hide:nth-child(1) {
	transition: all .2s .1s linear !important;
}

footer:hover .hide:nth-child(1) {
	background-position: left;
	transition: all 2s steps(13) !important;
}

footer:hover .hide:nth-child(2) {
	background-position: left;
	transition: all 1s 2s steps(2) !important;
}

footer p {
	transform: translateX(-6ch);
}

/* .card:nth-child(where they are) { */
/* 	order: the more negative the number, the first it will be. */
/* } */

/* .card:nth-child(2) { */
/* 	order: -2 */
/* } */
