@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
}

h1,
p {
	text-align: center;
	margin: 20px
}

main {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.card {
	margin: 20px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

	width: 20%;
	height: 50vh;
	outline: solid 1px black;
}

.image {
	margin-top: 5%;
	outline: solid 1px black;
	height: 80%;
	width: 90%;

	overflow: hidden;
}

img {
	aspect-ratio: auto;
	min-width: 0;
	object-fit: cover;
	/* object-fit: contain; */
	height: 100%;
	width: 100%;
}

/* .card:nth-child(where they are) { */
/* 	order: the more negative the number, the first it will be. */
/* } */

.card:nth-child(2) {
	order: -2
}
