@charset "UTF-8";

:root{
	--height-form-canvas: 3rem;
	--height-wrppr-wrppr: calc(var(--height-header) - var(--height-footer));
	--height-footer: 2rem;
}

*{
	margin: 0px;
	padding: 0px;
	border: none;
	box-sizing: border-box;
}

body{
	width: 100%;
	height: 100vh;
}

#form-canvas{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

	position: sticky;
	margin-top: -1px;

	min-height: var(--height-form-canvas);
	width: 100%;
	padding: 10px;
}

h1{
	font-size: 1.2rem;
}

#form-canvas > div{
	margin: auto 20px
}

label, header{
	margin: auto 5px;
	margin-left: 20px;
}

span{
	display: inline-block;
	width: 3ch;
}

.multi-line{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.one-line{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#wrapper-wrapper{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.wrapper{
	display: flex;
	position: relative;
}

canvas{
	background-color: white;

	height: 200px;
	max-height: 90vh;
	width: 200px;
	max-width: 75vh;
	outline-offset: -1px;
	z-index: 1;
	touch-action: none;
}

.img_bg{
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/af/Tux.png");
	background-size: 200px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position-x: 50%;
	background-position-y: 50%;
	opacity: .7;

	height: 200px;
	width: 200px;
	position: absolute;
	inset: 0;
	z-index: -1;
	transition: all 200ms linear;
}

p{
	text-align: center;
}

#can_1{
	mix-blend-mode: normal;
}

#can_2{
	mix-blend-mode: multiply;
}

#can_3{
	mix-blend-mode: screen;
}

#can_4{
	mix-blend-mode: overlay;
}

#can_5{
	mix-blend-mode: darken;
}

#can_6{
	mix-blend-mode: lighten;
}

#can_7{
	mix-blend-mode: color-dodge;
}

#can_8{
	mix-blend-mode: color-burn;
}

#can_9{
	mix-blend-mode: hard-light;
}

#can_10{
	mix-blend-mode: soft-light;
}

#can_11{
	mix-blend-mode: difference;
}

#can_12{
	mix-blend-mode: exclusion;
}

#can_13{
	mix-blend-mode: hue;
}

#can_14{
	mix-blend-mode: saturation;
}

#can_15{
	mix-blend-mode: color;
}

#can_16{
	mix-blend-mode: luminosity;
}

#can_17{
	mix-blend-mode: plus-lighter;
}
