@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

body{
    display: grid;
    min-height: 100vh;
    width: 100vw;
    place-items: center;
    background-color: rgb(0, 22, 37)
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1rem;

    background-color: rgb(0, 33, 55);
    border: 2px solid white;
    border-radius: .3rem;
    box-shadow: 1px 1px 20px -10px white;
}

img{
    max-height: 70vh;
    object-fit: scale-down;
    border: 2px solid white;
    border-radius: .3rem;
    box-shadow: 1px 1px 20px -10px white;
    transition: 200ms linear;
    margin: 1rem
}

#divForm{
    padding: .3rem;
    border: 2px solid white;
    border-radius: .3rem;
    box-shadow: 1px 1px 20px -10px white;
    margin: 1rem
}

p{
    margin: .3rem;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
.pRange{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    padding: .3rem;
}